body {
    background-color:slategray;
    color:antiquewhite;
}

#welcomeMessage {
    font-size:40px;
    max-width: fit-content;
    margin-left:auto;
    margin-right:auto;
}

#navbar {
    max-width: fit-content;
    margin-left:auto;
    margin-right:auto;
}

#footer {
    max-width: fit-content;
    margin-left:auto;
    margin-right:auto;
    /* position:fixed;
    bottom:0; */
}

#intro {
    max-width: fit-content;
    margin-left:auto;
    margin-right:auto;
}

#contactInfo {
    max-width: fit-content;
    margin-left:auto;
    margin-right:auto;
}