<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Lab10</title>
        <link rel="stylesheet" href="/public/css/styles.css">
    </head>
    <body>
        {{body}}
    </body>
    <script src="/public/js/client.js"></script>
</html>