<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{{title}}</title>
        <link rel="stylesheet" href="/public/css/styles.css">
    </head>
    <body>
        <nav id="navbar">
            <a href="/">Home</a>
            <a href="/about">About</a>
            <a href="/contact">Contact</a>
        </nav>
        {{{body}}}
        <footer>Aryaman Srivastava @ Stevens Institute of Technology</footer>
    </body>
    <script src="/public/js/client.js"></script>
</html>